body{
background-image:url('img_tree.png');
background-repeat:no-repeat;
}
h1{
background-color: blue; /* 浏览器不支持时显示 */
background-image: linear-gradient(#e66465, #9198e5);
}
p{
background-color: blue; /* 浏览器不支持时显示 */
background-image: linear-gradient(#e66465, #9198e5);
}
div{
background-color: blue; /* 浏览器不支持时显示 */
background-image: linear-gradient(#e66465, #9198e5);
